<!-- templates/activities/list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... -->
</head>
<body>
    <h1>Activity List</h1>
    <a href="{% url 'activity_create' %}">Create New Activity</a>
    <ul>
        {% for activity in object_list %}
            <li>
                {{ activity.title }} - {{ activity.description }}
                <a href="{% url 'activity_update' activity.pk %}">Edit</a>
                <a href="{% url 'activity_delete' activity.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
